openapi: 3.0.3
info:
  title: TEEI Demo Factory API
  version: 1.0.0
  description: |
    API for creating, managing, and tearing down demo tenants with synthetic data.

    The Demo Factory generates safe, realistic demo environments with:
    - Deterministic pseudonymization
    - Configurable data volumes
    - Pre-aggregated metrics
    - Sample reports and artifacts
    - One-click teardown

  contact:
    name: TEEI Platform Team
    email: platform@teei.io

servers:
  - url: https://api.teei.io/v1
    description: Production
  - url: https://staging-api.teei.io/v1
    description: Staging
  - url: http://localhost:3000/v1
    description: Local development

tags:
  - name: Demo Tenants
    description: Create and manage demo tenants
  - name: Demo Data
    description: Seed and warm demo data
  - name: Demo Export
    description: Export demo tenant data

paths:
  /demo/tenants:
    post:
      tags:
        - Demo Tenants
      summary: Create a new demo tenant
      description: |
        Creates a new demo tenant with synthetic data.

        The process includes:
        1. Tenant initialization
        2. Data seeding (events across time periods)
        3. Metric aggregation
        4. Cache warming
        5. Sample report generation

        This is an async operation. Use the returned tenant ID to poll for progress.

      operationId: createDemoTenant
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDemoTenantRequest'
            examples:
              small:
                summary: Small demo tenant
                value:
                  tenantId: demo-acme-small
                  name: Acme Corp Demo (Small)
                  volume: small
                  regions: [NA]
                  vertical: technology
              medium:
                summary: Medium demo tenant with multiple regions
                value:
                  tenantId: demo-global-tech
                  name: Global Tech Demo
                  volume: medium
                  regions: [NA, EU, APAC]
                  vertical: technology
                  metadata:
                    purpose: sales-demo
                    owner: john.doe@teei.io
      responses:
        '202':
          description: Demo tenant creation initiated
          content:
            application/json:
              schema:
                type: object
                required:
                  - tenantId
                  - status
                  - progressUrl
                properties:
                  tenantId:
                    type: string
                    example: demo-acme-small
                  status:
                    type: string
                    enum: [creating]
                    example: creating
                  progressUrl:
                    type: string
                    format: uri
                    example: /demo/tenants/demo-acme-small/progress
                  estimatedDuration:
                    type: integer
                    description: Estimated time to completion in seconds
                    example: 240
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'

    get:
      tags:
        - Demo Tenants
      summary: List all demo tenants
      description: Returns a list of all demo tenants with their current status
      operationId: listDemoTenants
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          description: Filter by tenant status
          schema:
            type: string
            enum: [creating, active, refreshing, tearing_down, deleted]
        - name: limit
          in: query
          description: Maximum number of results
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: offset
          in: query
          description: Number of results to skip
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: List of demo tenants
          content:
            application/json:
              schema:
                type: object
                required:
                  - tenants
                  - total
                  - limit
                  - offset
                properties:
                  tenants:
                    type: array
                    items:
                      $ref: '#/components/schemas/DemoTenantMetadata'
                  total:
                    type: integer
                    example: 15
                  limit:
                    type: integer
                    example: 50
                  offset:
                    type: integer
                    example: 0
        '401':
          $ref: '#/components/responses/Unauthorized'

  /demo/tenants/{tenantId}:
    get:
      tags:
        - Demo Tenants
      summary: Get demo tenant details
      description: Returns detailed information about a specific demo tenant
      operationId: getDemoTenant
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Demo tenant details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DemoTenantMetadata'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Demo Tenants
      summary: Tear down a demo tenant
      description: |
        Deletes a demo tenant and all associated data.

        This operation:
        - Deletes all events
        - Removes aggregated metrics
        - Cleans up cached data
        - Removes sample reports
        - Audit logs deletion

        This is a destructive operation and cannot be undone.

      operationId: deleteDemoTenant
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DemoTeardownRequest'
      responses:
        '202':
          description: Teardown initiated
          content:
            application/json:
              schema:
                type: object
                required:
                  - tenantId
                  - status
                properties:
                  tenantId:
                    type: string
                    example: demo-acme-small
                  status:
                    type: string
                    enum: [tearing_down]
                  estimatedDuration:
                    type: integer
                    description: Estimated time to completion in seconds
                    example: 30
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /demo/tenants/{tenantId}/progress:
    get:
      tags:
        - Demo Tenants
      summary: Get demo tenant creation/refresh progress
      description: Returns real-time progress information for async operations
      operationId: getDemoTenantProgress
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Progress information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DemoTenantProgress'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /demo/tenants/{tenantId}/refresh:
    post:
      tags:
        - Demo Data
      summary: Refresh demo tenant data
      description: |
        Regenerates data for an existing demo tenant.

        Options:
        - Preserve existing users (maintains user IDs for demos)
        - Change data volume
        - Generate new time-series data

      operationId: refreshDemoTenant
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshDemoTenantRequest'
      responses:
        '202':
          description: Refresh initiated
          content:
            application/json:
              schema:
                type: object
                required:
                  - tenantId
                  - status
                  - progressUrl
                properties:
                  tenantId:
                    type: string
                  status:
                    type: string
                    enum: [refreshing]
                  progressUrl:
                    type: string
                    format: uri
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /demo/tenants/{tenantId}/warm:
    post:
      tags:
        - Demo Data
      summary: Warm demo tenant caches
      description: Pre-compute aggregates and warm caches for demo tenant
      operationId: warmDemoTenant
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Warmup completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DemoWarmupResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /demo/tenants/{tenantId}/export:
    get:
      tags:
        - Demo Export
      summary: Export demo tenant data
      description: |
        Export all demo tenant data as a downloadable bundle.

        Supports multiple formats:
        - JSON: Complete data structure
        - CSV: Individual files per entity type
        - SQL: Database dump with INSERT statements

      operationId: exportDemoTenant
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - name: format
          in: query
          description: Export format
          schema:
            type: string
            enum: [json, csv, sql]
            default: json
        - name: includeEvents
          in: query
          description: Include raw events
          schema:
            type: boolean
            default: true
        - name: includeAggregates
          in: query
          description: Include aggregated metrics
          schema:
            type: boolean
            default: true
        - name: includeReports
          in: query
          description: Include generated reports
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Export bundle
          headers:
            Content-Disposition:
              schema:
                type: string
                example: attachment; filename="demo-acme-small-export.zip"
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    TenantId:
      name: tenantId
      in: path
      required: true
      description: Demo tenant identifier (must start with "demo-")
      schema:
        type: string
        pattern: '^demo-'
        example: demo-acme-small

  schemas:
    CreateDemoTenantRequest:
      type: object
      required:
        - tenantId
        - name
        - volume
        - regions
        - vertical
      properties:
        tenantId:
          type: string
          pattern: '^demo-'
          minLength: 6
          maxLength: 64
          example: demo-acme-small
          description: Must start with "demo-"
        name:
          type: string
          minLength: 1
          maxLength: 255
          example: Acme Corp Demo
        volume:
          type: string
          enum: [small, medium, large]
          example: medium
          description: |
            Data volume size:
            - small: 6 months, ~880 events, 50 users
            - medium: 12 months, ~8,800 events, 250 users
            - large: 24 months, ~88,000 events, 1,000 users
        regions:
          type: array
          items:
            type: string
            enum: [NA, EU, UK, APAC, LATAM]
          minItems: 1
          example: [NA, EU]
        vertical:
          type: string
          enum: [technology, finance, healthcare, retail, manufacturing, education, nonprofit]
          example: technology
        customSalt:
          type: string
          minLength: 16
          description: Custom salt for deterministic generation (optional)
        metadata:
          type: object
          additionalProperties: true
          description: Additional metadata for the tenant

    RefreshDemoTenantRequest:
      type: object
      required:
        - tenantId
      properties:
        tenantId:
          type: string
          pattern: '^demo-'
        preserveUsers:
          type: boolean
          default: false
          description: Keep existing user IDs
        newVolume:
          type: string
          enum: [small, medium, large]
          description: Change data volume size

    DemoTeardownRequest:
      type: object
      required:
        - confirm
      properties:
        confirm:
          type: boolean
          enum: [true]
          description: Must be true to confirm deletion
        cascade:
          type: boolean
          default: true
          description: Delete all related data

    DemoTenantMetadata:
      type: object
      required:
        - tenantId
        - name
        - status
        - volume
        - regions
        - vertical
        - createdAt
        - updatedAt
        - stats
      properties:
        tenantId:
          type: string
          example: demo-acme-small
        name:
          type: string
          example: Acme Corp Demo
        status:
          type: string
          enum: [creating, active, refreshing, tearing_down, deleted]
          example: active
        volume:
          type: object
          properties:
            size:
              type: string
              enum: [small, medium, large]
            monthsOfData:
              type: integer
            volunteerEvents:
              type: integer
            donationEvents:
              type: integer
            sessionEvents:
              type: integer
            enrollmentEvents:
              type: integer
            placementEvents:
              type: integer
            users:
              type: integer
            companies:
              type: integer
        regions:
          type: array
          items:
            type: string
            enum: [NA, EU, UK, APAC, LATAM]
        vertical:
          type: string
          enum: [technology, finance, healthcare, retail, manufacturing, education, nonprofit]
        createdAt:
          type: string
          format: date-time
          example: 2025-01-15T10:30:00Z
        updatedAt:
          type: string
          format: date-time
          example: 2025-01-15T10:35:00Z
        expiresAt:
          type: string
          format: date-time
          nullable: true
          example: 2025-02-14T10:30:00Z
          description: Auto-deletion date (30 days default)
        stats:
          type: object
          required:
            - totalEvents
            - totalUsers
            - totalCompanies
            - dataFreshness
            - aggregatesWarmed
            - reportsGenerated
          properties:
            totalEvents:
              type: integer
              example: 5000
            totalUsers:
              type: integer
              example: 250
            totalCompanies:
              type: integer
              example: 20
            dataFreshness:
              type: string
              format: date-time
              example: 2025-01-15T10:35:00Z
            aggregatesWarmed:
              type: boolean
              example: true
            reportsGenerated:
              type: integer
              example: 4

    DemoTenantProgress:
      type: object
      required:
        - tenantId
        - stage
        - progress
        - message
        - errors
      properties:
        tenantId:
          type: string
          example: demo-acme-small
        stage:
          type: string
          enum: [initializing, seeding, aggregating, warming, complete]
          example: seeding
        progress:
          type: integer
          minimum: 0
          maximum: 100
          example: 65
          description: Percentage complete
        message:
          type: string
          example: Seeding volunteer events...
        currentTask:
          type: string
          nullable: true
          example: volunteer_events
        estimatedTimeRemaining:
          type: integer
          nullable: true
          description: Seconds remaining (null if unknown)
          example: 120
        errors:
          type: array
          items:
            type: object
            required:
              - timestamp
              - message
              - code
            properties:
              timestamp:
                type: string
                format: date-time
              message:
                type: string
              code:
                type: string

    DemoWarmupResult:
      type: object
      required:
        - tenantId
        - aggregatesComputed
        - tilesWarmed
        - reportsGenerated
        - duration
        - freshness
      properties:
        tenantId:
          type: string
        aggregatesComputed:
          type: integer
          example: 156
        tilesWarmed:
          type: integer
          example: 42
        reportsGenerated:
          type: integer
          example: 4
        duration:
          type: integer
          description: Duration in milliseconds
          example: 45000
        freshness:
          type: string
          format: date-time
          example: 2025-01-15T10:45:00Z

  responses:
    BadRequest:
      description: Bad request - validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Validation failed
              details:
                type: array
                items:
                  type: object
                  properties:
                    field:
                      type: string
                    message:
                      type: string

    Unauthorized:
      description: Unauthorized - invalid or missing authentication
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Unauthorized

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Demo tenant not found

    Conflict:
      description: Conflict - tenant ID already exists
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Demo tenant already exists

    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Too many concurrent demo tenant creations
              retryAfter:
                type: integer
                description: Seconds to wait before retrying
