apiVersion: v1
kind: Service
metadata:
  name: grafana
  labels:
    app: grafana
    component: observability
    part-of: teei-csr-platform
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 3000
    targetPort: 3000
    protocol: TCP
  selector:
    app: grafana
  sessionAffinity: None
