---
# Istio Operator Deployment
# Install with: kubectl apply -f https://github.com/istio/istio/releases/download/1.20.0/istio-operator.yaml
# Then apply this IstioOperator CR
apiVersion: v1
kind: ServiceAccount
metadata:
  name: istio-operator
  namespace: istio-operator
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: istio-operator
rules:
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - '*'
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: istio-operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: istio-operator
subjects:
- kind: ServiceAccount
  name: istio-operator
  namespace: istio-operator
---
apiVersion: v1
kind: Namespace
metadata:
  name: istio-operator
  labels:
    name: istio-operator
    part-of: teei-csr-platform
