apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: teei-platform

commonLabels:
  app: teei-discord-bot
  managed-by: kustomize

resources:
- deployment.yaml
- service.yaml
- hpa.yaml
- configmap.yaml

images:
- name: ghcr.io/henrigkroine/teei-discord-bot
  newTag: latest
