apiVersion: v1
kind: Service
metadata:
  name: teei-q2q-ai
  labels:
    app: teei-q2q-ai
    component: backend
    part-of: teei-csr-platform
spec:
  type: ClusterIP
  selector:
    app: teei-q2q-ai
  ports:
  - name: http
    port: 80
    targetPort: 3005
    protocol: TCP
  sessionAffinity: None
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: teei-q2q-ai
  labels:
    app: teei-q2q-ai
    component: backend
    part-of: teei-csr-platform
  annotations:
    vault.hashicorp.com/role: "teei-q2q-ai"
